[submodule "snake.js"]
	path = snake.js
	url = git@github.com:Farof/snake.js.git
[submodule "frisbee"]
	path = frisbee
	url = git@github.com:Farof/frisbee.git
[submodule "todo"]
	path = todo
	url = git@github.com:Farof/todo.git
